html,
body {
    width: 100%;
    margin: 0;
    background-color: #42445A;
    text-align: center;
}

.indexFlex {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
}

@media (max-width: 800px) {
    .indexFlex {
      flex-direction: column;
    }
  }

.flexRight {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5rem;
}

.bubbsImage {
    border: 0.3rem solid black;
    border-radius: 1rem;
    cursor: pointer;

    -webkit-box-shadow: 0px 0px 11px 5px rgba(0, 0, 0, 1);
    -moz-box-shadow: 0px 0px 11px 5px rgba(0, 0, 0, 1);
    box-shadow: 0px 0px 11px 5px rgba(0, 0, 0, 1);
    transition: 0.5s all;
}

.bubbsImage:hover{
    width: 55%;
}

.bubbsCanvas {
    border: 0.3rem solid black;
    border-radius: 1rem;
    background-color: #9cafb74d;

    -webkit-box-shadow: 0px 0px 11px 5px rgba(0, 0, 0, 1);
    -moz-box-shadow: 0px 0px 11px 5px rgba(0, 0, 0, 1);
    box-shadow: 0px 0px 11px 5px rgba(0, 0, 0, 1);
    transition: 0.5s all;
}

.bubbsCanvas:hover{
    width: 80%;
}


.flexLeft {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    padding: 5rem;
    gap: 5rem;
}

table {
    margin: 0pt auto;
    margin-top: 10vw;
    border: 0.3vw solid black;
    font-size: 3vw;
    border-collapse: collapse;
    width: 60%;
    font-family: 'Franklin Gothic Medium';
}

tr th {
    border-bottom: 0.3vw solid black;
    padding: 1vw;
    background-color: goldenrod;
    font-size: 4vw;
}

td {
    text-align: center;
    border-bottom: 0.2vw solid black;
}

tr:not(:first-child) {
    height: 6vw;
    background-color: hsl(0, 0%, 65%);
}

tr:first-child {
    width: 1pt;
    border-right: 1pt solid black;
}

table {
    height: 100pt;
    overflow: scroll;
}

button {
    color: #edae49;
    border-radius: 1rem;
    background-color: #42445A;
    outline: none;
    border: 0.5rem solid #edae49;
    font-family: 'Franklin Gothic Medium';
    border-radius: 0.7rem;
    font-size: 3rem;
    
    transition: .25s ease-out;
    -webkit-box-shadow: 0px 0px 11px 5px rgba(0, 0, 0, 1);
    -moz-box-shadow: 0px 0px 11px 5px rgba(0, 0, 0, 1);
    box-shadow: 0px 0px 11px 5px rgba(0, 0, 0, 1);
    cursor: pointer;
}

button:hover {
    -webkit-box-shadow: 0px 0px 30px 5px rgba(0, 0, 0, 1);
    -moz-box-shadow: 0px 0px 30px 5px rgba(0, 0, 0, 1);
    box-shadow: 0px 0px 30px 5px rgba(0, 0, 0, 1);
    font-size: 4rem;
}