html,
body {
    height: 100%;
    overflow: auto;
    background-color: #42445A;
}

.gameCanvas {
    border-radius: 1rem;
    border: 0.3rem solid black;
    -webkit-box-shadow: 0px 0px 11px 5px rgba(0, 0, 0, 1);
    -moz-box-shadow: 0px 0px 11px 5px rgba(0, 0, 0, 1);
    box-shadow: 0px 0px 11px 5px rgba(0, 0, 0, 1);
}

button {
    color: #edae49;
    border-radius: 1rem;
    background-color: #42445A;
    outline: none;
    border: 0.3rem solid #edae49;
    font-family: 'Franklin Gothic Medium';
    border-radius: 0.7rem;
    font-size: 2vw;

    transition: .25s ease-out;
    -webkit-box-shadow: 0px 0px 11px 5px rgba(0, 0, 0, 1);
    -moz-box-shadow: 0px 0px 11px 5px rgba(0, 0, 0, 1);
    box-shadow: 0px 0px 11px 5px rgba(0, 0, 0, 1);
    cursor: pointer;
}

button:hover {
    -webkit-box-shadow: 0px 0px 30px 5px rgba(0, 0, 0, 1);
    -moz-box-shadow: 0px 0px 30px 5px rgba(0, 0, 0, 1);
    box-shadow: 0px 0px 30px 5px rgba(0, 0, 0, 1);
    font-size: 2.5vw;
}