html,
body {
    height: 100%;
    overflow: auto;
    background-color: #42445A;
}

.gameCanvas {
    border-radius: 1rem;
    border: 0.3rem solid black;
    -webkit-box-shadow: 0px 0px 11px 5px rgba(0, 0, 0, 1);
    -moz-box-shadow: 0px 0px 11px 5px rgba(0, 0, 0, 1);
    box-shadow: 0px 0px 11px 5px rgba(0, 0, 0, 1);
}

.backButton {
    color: #edae49;
    border-radius: 1rem;
    background-color: #42445A;
    outline: none;
    border: 0.3rem solid #edae49;
    font-family: 'Franklin Gothic Medium';
    border-radius: 0.7rem;
    font-size: 2vw;

    transition: .25s ease-out;
    -webkit-box-shadow: 0px 0px 11px 5px rgba(0, 0, 0, 1);
    -moz-box-shadow: 0px 0px 11px 5px rgba(0, 0, 0, 1);
    box-shadow: 0px 0px 11px 5px rgba(0, 0, 0, 1);
    cursor: pointer;
}

.backButton:hover {
    -webkit-box-shadow: 0px 0px 30px 5px rgba(0, 0, 0, 1);
    -moz-box-shadow: 0px 0px 30px 5px rgba(0, 0, 0, 1);
    box-shadow: 0px 0px 30px 5px rgba(0, 0, 0, 1);
    font-size: 2.5vw;
}

.endPanel {
    z-index: 1;
    width: 40vh;
    height: 40vh;
    background-color: #42445A;
    color: white;
    position: absolute;
    transform: translate(-50%, -50%);
    border-radius: 15px;
    border: 1vh solid white;
    left: 50vw;
    top: 50vh;
    box-shadow: inset 0px 0px 11px 5px rgba(0, 0, 0, 1);
    display: flex;
    flex-direction: column;
    visibility: hidden;
}

.endPanelButton {
    width: 50%;
    color: white;
    border: 0.5vh solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    cursor: pointer;
    -webkit-box-shadow: 0px 0px 30px 5px rgba(0, 0, 0, 1);
    -moz-box-shadow: 0px 0px 30px 5px rgba(0, 0, 0, 1);
    box-shadow: 0px 0px 30px 5px rgba(0, 0, 0, 1);
}

input{
    -webkit-box-shadow: 0px 0px 30px 5px rgba(0, 0, 0, 1);
    -moz-box-shadow: 0px 0px 30px 5px rgba(0, 0, 0, 1);
    box-shadow: 0px 0px 30px 5px rgba(0, 0, 0, 1);
    outline: none;
    border: 0.5vh solid white;
    border-radius: 10px;
    background-color: #42445A;
    color: white;
    text-align: center;
}